.root {
  position: relative;
  padding-block-start: 6vw;
  height: 100vh;
}

.title,
.subtitle {
  /* @mixin responsive font-size, 70, 40; */

  pointer-events: none;
  max-width: 60vw;
  position: relative;
  z-index: 1;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.1;
}

.title {
  margin-block-end: 10px;
}

.subtitle {
  font-size: 30px;
  font-weight: 500;
  max-width: 50vw;
  line-height: 1.3;
}
