.root {
	position: relative;
	height: 100vh;
	padding-block-start: 6vw;
}

.title,
.subtitle {
	@mixin responsive font-size, 30, 70;

	pointer-events: none;

	position: relative;
	z-index: 1;

	max-width: 60vw;

	font-weight: 700;
	line-height: 1.1;

	@media (max-width: $mobile) {
		max-width: 100%;
	}
}

.title {
	margin-block-end: 10px;
}

.subtitle {
	@mixin responsive font-size, 20, 30;

	max-width: 50vw;
	font-weight: 500;
	line-height: 1.3;

	@media (max-width: $mobile) {
		max-width: 100%;
	}
}
