.root {
	position: relative;
	z-index: 2;
	padding-block: 6vw;
}

.skills,
.wrapper {
	position: relative;
	z-index: 2;
}

.wrapper {
	pointer-events: none;

	display: grid;
	grid-template-columns: 1fr 1.5fr;
	gap: 2vw;
	justify-content: space-between;

	@media (max-width: $mobile) {
		grid-template-columns: 1fr;
	}
}

.title {
	@mixin responsive font-size, 40, 70;

	position: sticky;
	top: 50%;

	justify-self: flex-end;

	width: fit-content;
	height: min-content;

	font-weight: 700;
	text-align: right;

	@media (max-width: $mobile) {
		display: none;
	}
}

.marqueTitle {
	@mixin responsive font-size, 40, 70;

	margin-block-end: 3vw;
	font-weight: 700;
}

.subtitle {
	display: block;
}

.skills {
	pointer-events: none;
	margin-block-start: 12vw;
}

.marque {
	gap: 20px;
}

.image {
	height: 512px;

	@media (max-width: $mobile) {
		height: 256px;
	}
}
