.root {
	display: flex;
	flex-direction: column;
	gap: 10vw;
}

.item {
	max-width: 40vw;

	@media (max-width: $mobile) {
		max-width: 100%;
	}
}

.title {
	@mixin responsive font-size, 40, 60;

	margin-block-end: 10px;
	font-weight: 700;
}

.subtitle {
	@mixin responsive font-size, 16, 30;

	line-height: 1.3;
}
